.input{
    width: auto;
}

.tabs span{
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: .5em 1em;
    vertical-align: top;
}

.tabs li.is-active span {
    border-bottom-color: #3273dc;
    color: #3273dc;
}